<?xml version="1.0"?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="CalendarExtender" />
      <control name="TabContainer" />
      <control name="ColorPickerExtender" />
      <control name="ConfirmButtonExtender" />
      <control name="FilteredTextBoxExtender" />
      <control name="MaskedEditExtender" />
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>