<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Softailor.SiteTailorIzs.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ID evento" stopProcessing="true">
          <match url="^([0-9]+)/(.*)$"/>
          <action type="Rewrite" url="{R:2}?i_d_e_v_e={R:1}" appendQueryString="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="INDIRIZZO-MAIL">
        <network host="" port="" userName="INDIRIZZO-MAIL" password="MY-PW" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!-- DATI PER ACCESSO A ONEDRIVE -->
    <add key="sharepoint_site_root" value=""/>
    <add key="onedrive_site_relativebase" value=""/>
    <add key="onedrive_site_root" value=""/>
    <add key="onedrive_username" value=""/>
    <add key="onedrive_password" value=""/>
    <add key="onedrive_skipbasefolderscreation" value="0"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="4000"/>
    <add key="sitetailor_SGLAPPLI" value="SiteTailor"/>
    <add key="sitetailor_DESAPPLI" value="GF"/>
    <add key="sitetailor_ErrorReportMailFrom" value=""/>
    <add key="sitetailor_ErrorReportMailTo" value=""/>
    <add key="sitetailor_ErrorReportMailSubject" value=""/>
    <!-- cartella storage dati binari -->
    <add key="sitetailor_BinariesBasePath" value=""/>
    <!-- gestione formazione: dati per generazione mail -->
    <add key="GF_MailFrom" value=""/>
    <add key="GF_FrontofficeBasePath_FromWeb" value=""/>
    <!-- elencho di CustomContextHandler: assembly, classe -->
    <!-- GEC FINAL -->
    <add key="sitetailor_CustomContextHandler1" value="Softailor.SiteTailorIzs, Softailor.SiteTailorIzs.GecFinalContextHandler"/>
  </appSettings>
  <connectionStrings>
    <add name="SiteTailorAclConnectionString" providerName="System.Data.SqlClient" connectionString="" />
    <add name="SiteTailorDbConnectionString" providerName="System.Data.SqlClient" connectionString="" />
    <add name="SiteTailorMetaConnectionString" providerName="System.Data.SqlClient" connectionString="" />
    <add name="SiteTailorWsConnectionString" providerName="System.Data.SqlClient" connectionString="" />
    <add name="SiteTailorRptConnectionString" providerName="System.Data.SqlClient" connectionString="" />
    <add name="GestioneFormazioneConnectionString" providerName="System.Data.SqlClient" connectionString="" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <globalization culture="it-IT" uiCulture="it-IT"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.7" maxRequestLength="20000"/>
    <pages theme="SiteTailor" enableEventValidation="true" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="stl" namespace="Softailor.Web.UI.DbForms" assembly="Softailor.Web.UI.DbForms"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
        <add tagPrefix="bof" namespace="Softailor.SiteTailorIzs" assembly="Softailor.SiteTailorIzs"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name=".SITETAILORAUTH" loginUrl="~/Logon.aspx" protection="All" timeout="240"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState mode="InProc" timeout="240"/>
  </system.web>
  <location path="API/GFWS.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Img/AppTitle">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <Softailor.SiteTailorIzs.My.MySettings>
      <setting name="CompanyName" serializeAs="String">
        <value>IZSLER</value>
      </setting>
      <setting name="AppDataTempPath" serializeAs="String">
        <value>"C:/inetpub/temp/libreoffice"</value>
      </setting>
      <setting name="BinariesTmpBasePath" serializeAs="String">
        <value>C:\emailsent\hpg23</value>
      </setting>
      <setting name="SofficeExePath" serializeAs="String">
        <value>C:\Program Files\LibreOffice\program\soffice.exe</value>
      </setting>
      <setting name="BccMail" serializeAs="String">
        <value />
      </setting>
      <setting name="GenericMail_MailFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="GenericMail_MailTo" serializeAs="String">
        <value />
      </setting>
    </Softailor.SiteTailorIzs.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>