<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestioneFormazione.FrontOffice.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Riscrittura immagini aziendali" stopProcessing="true">
          <match url="^CImg/?(.*)$" />
          <action type="Rewrite" url="/Content/IZSLER/CImg/{R:1}" />
        </rule>
        <rule name="Riscrittura documenti generici" stopProcessing="true">
          <match url="^Docs/?(.*)$" />
          <action type="Rewrite" url="/Binaries/DOC_GEN.ashx?file={R:1}" />
        </rule>
        <rule name="Riscrittura thumbs documenti generici" stopProcessing="true">
          <match url="^DocThumbs/?(.*)$" />
          <action type="Rewrite" url="/Binaries/DOC_GEN_T01.ashx?file={R:1}" />
        </rule>
        <rule name="Riscrittura thumbs documenti evento" stopProcessing="true">
          <match url="^DocEveThumbs/?(.*)$" />
          <action type="Rewrite" url="/Binaries/DOC_EVE_T01.ashx?file={R:1}" />
        </rule>
        <rule name="Riscrittura documenti evento" stopProcessing="true">
          <match url="^DocEve/?(.*)$" />
          <action type="Rewrite" url="/Binaries/DOC_EVE.ashx?file={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="INDIRIZZO-MAIL">
        <network host="" port="" userName="INDIRIZZO-MAIL" password="MY-PW" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!-- DATI PER ACCESSO A ONEDRIVE -->
    <add key="sharepoint_site_root" value="" />
    <add key="onedrive_site_relativebase" value="" />
    <add key="onedrive_site_root" value="" />
    <add key="onedrive_username" value="" />
    <add key="onedrive_password" value="" />
    <add key="onedrive_skipbasefolderscreation" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="" />
    <add name="WsConnectionString" providerName="System.Data.SqlClient" connectionString="" />
  </connectionStrings>
  <system.web>
    <globalization culture="it-IT" uiCulture="it-IT" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.7" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Windows">
    </authentication>
    <sessionState mode="InProc" timeout="120" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <GestioneFormazione.FrontOffice.My.MySettings>
      <setting name="ErrorReportMailFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="ErrorReportMailTo" serializeAs="String">
        <value />
      </setting>
      <setting name="PageTitle" serializeAs="String">
        <value>PageTitle</value>
      </setting>
      <setting name="CompanyKey" serializeAs="String">
        <value>IZSLER</value>
      </setting>
      <setting name="CompanyName_Short" serializeAs="String">
        <value>IZSLER</value>
      </setting>
      <setting name="PasswordResetKey" serializeAs="String">
        <value>PasswordResetKey</value>
      </setting>
      <setting name="FrontOfficeUrl" serializeAs="String">
        <value>http://localhost:64802/</value>
      </setting>
      <setting name="GenericMail_RagioneSociale" serializeAs="String">
        <value>GenericMail_RagioneSociale</value>
      </setting>
      <setting name="GenericMail_IndirizzoCompleto" serializeAs="String">
        <value>GenericMail_IndirizzoCompleto</value>
      </setting>
      <setting name="GenericMail_Tel" serializeAs="String">
        <value>GenericMail_Tel</value>
      </setting>
      <setting name="GenericMail_Fax" serializeAs="String">
        <value>GenericMail_Fax</value>
      </setting>
      <setting name="GenericMail_MailFrom" serializeAs="String">
        <value>GenericMail_MailFrom</value>
      </setting>
      <setting name="ValutazioneWeb_Key" serializeAs="String">
        <value>ValutazioneWeb_Key</value>
      </setting>
      <setting name="ErrorReportMailSubject" serializeAs="String">
        <value>ErrorReportMailSubject</value>
      </setting>
      <setting name="ValutazioneWeb_Url" serializeAs="String">
        <value>ValutazioneWeb_Url</value>
      </setting>
      <setting name="SofficeExePath" serializeAs="String">
        <value>C:\Program Files\LibreOffice\program\soffice.exe</value>
      </setting>
      <setting name="AppDataTempPath" serializeAs="String">
        <value>"C:/inetpub/temp/libreoffice"</value>
      </setting>
      <setting name="DEBUG_FLG" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEBUG_EMAIL_FROM" serializeAs="String">
        <value />
      </setting>
      <setting name="DEBUG_EMAIL_TO" serializeAs="String">
        <value />
      </setting>
      <setting name="formazione_ext_path_56B_002" serializeAs="String">
        <value>Documents/GestioneFormazione/Modelli/Richieste_PartecipazioneExt/56B.002_rev02.docx</value>
      </setting>
      <setting name="formazione_ext_path_56C_002" serializeAs="String">
        <value>Documents/GestioneFormazione/Modelli/Richieste_PartecipazioneExt/56C.002_rev02.docx</value>
      </setting>
      <setting name="formazione_ext_path_56D_002" serializeAs="String">
        <value>Documents/GestioneFormazione/Modelli/Richieste_PartecipazioneExt/56D.002_rev02.docx</value>
      </setting>
      <setting name="BinariesBasePath" serializeAs="String">
        <value>path assoluto a\BinaryData\AZI_1\</value>
      </setting>
      <setting name="BinariesBasePath_WoAzi" serializeAs="String">
        <value>path assoluto a\BinaryData</value>
      </setting>
      <setting name="ReportsBasePath" serializeAs="String">
        <value>path assoluto a\BackOffice\Reports</value>
      </setting>
      <setting name="BinariesTmpBasePath" serializeAs="String">
        <value>path assoluto a cartella temporanea</value>
      </setting>
    </GestioneFormazione.FrontOffice.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
